[submodule "ingadhoc/stock"]
	path = ingadhoc/stock
	url = git@github.com:ingadhoc/stock.git
	branch = 15.0

[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing.git
	branch = 15.0

[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale.git
	branch = 15.0

[submodule "ingadhoc/miscellaneous"]
	path = ingadhoc/miscellaneous
	url = git@github.com:ingadhoc/miscellaneous.git
	branch = 15.0
